<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>User</th>
                <th>Score</th>
            </tr>
            </thead>
            <tbody ng-repeat="score in scores track by $index">
            <tr>
                <td>
                    <div ng-bind="score.user"></div>
                </td>
                <td>
                    <div ng-bind="score.score"></div>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
    <div class="col-md-4"></div>
</div>